<div class="patient-detail-container">
  
  <div *ngIf="!pacijent" class="loading-placeholder">
    <p>Učitavanje podataka o pacijentu...</p>
  </div>
  
  <mat-card class="patient-header-card" *ngIf="pacijent">
    <div class="patient-info-grid">
      <div>
        <small>Patient (OftaScan Sistem)</small>
        <h2>{{ pacijent.first_name }} {{ pacijent.last_name }}</h2>
      </div>
      <div>
        <small>Date of Birth</small>
        <p>{{ pacijent.birth_date }} (SEX: {{ pacijent.gender }})</p>
      </div>
      <div>
        <small>Glaucoma Category</small>
        <p class="text-warn"><strong>{{ pacijent.glaucoma_category }}</strong></p>
      </div>
      <div>
        <small>CCT</small>
        <p><strong>{{ pacijent.cct }} µm</strong></p>
      </div>
    </div>
  </mat-card>

  <div class="split-layout" *ngIf="pacijent">
    
    <div class="timeline-panel">
      <h3>Exam History</h3>
      
      <div *ngIf="pregledi.length === 0" class="text-muted-info">
        Nema zabeleženih pregleda za ovog pacijenta.
      </div>

      <mat-selection-list
        #listaPregleda
        [multiple]="false"
        (selectionChange)="onSelectionChange($event)"
        *ngIf="pregledi.length > 0">
        <mat-list-option
          *ngFor="let p of pregledi; let i = index"
          [value]="p"
          class="timeline-item">
          <mat-icon matListItemIcon>insights</mat-icon>
          <div matListItemLine class="timeline-title">
            <strong>Visit no. {{ pregledi.length - i }}</strong>
          </div>
          <div matListItemLine class="timeline-sub">Date: {{ p.exam_date || 'Empty' }}</div>
        </mat-list-option>
      </mat-selection-list>
    </div>

    <div class="details-panel" *ngIf="izabraniPregled">
      <mat-card class="display-card">
        
        <div class="details-header">
          <h3>Exam Detils (Date: {{ izabraniPregled.exam_date || 'Empty' }})</h3>
          
          <button mat-flat-button 
                  *ngIf="getMaskPath(izabraniPregled.od_multimedija).length!=0 || getMaskPath(izabraniPregled.os_multimedija).length!=0"
                  [color]="prikaziMasku ? 'accent' : 'primary'" 
                  (click)="toggleMaska()">
            <mat-icon>{{ prikaziMasku ? 'layers_clear' : 'layers' }}</mat-icon>
            {{ prikaziMasku ? 'Hide Mask' : 'Show Mask' }}
          </button>
        </div>

        <div class="eye-images-grid">
          
          <div class="image-container">
            <h4>Left Eye (OS)</h4>
            <div class="wrapper">
              <img *ngIf="izabraniPregled.os_multimedija && izabraniPregled.os_multimedija.image_path" 
                   [src]="mediaUrl + '/image/' + izabraniPregled.os_multimedija.image_path" 
                   alt="Left Eye Fundus">
              <div *ngIf="!izabraniPregled.os_multimedija || !izabraniPregled.os_multimedija.image_path" class="no-image-placeholder">
                <mat-icon>image_not_supported</mat-icon>
                <p>No record.</p>
              </div>
              <img *ngIf="prikaziMasku && getMaskPath(izabraniPregled.os_multimedija).length!=0" 
                   [src]="getMaskPath(izabraniPregled.os_multimedija)" 
                   alt="UNet Maska OS" 
                   class="image-overlay-mask" />
            </div>
            <div class="params-box">
              <p>Diagnosis: <strong>{{ izabraniPregled.os_diagnosis || 'N/A' }} </strong></p>
              <p>IOP: <strong>{{ izabraniPregled.os_iop || 'N/A' }}</strong></p>  
            </div>
          </div>

          <div class="image-container">
            <h4>Right Eye (OD)</h4>
            <div class="wrapper">
              <img *ngIf="izabraniPregled.od_multimedija && izabraniPregled.od_multimedija.image_path" 
                   [src]="mediaUrl + '/image/' + izabraniPregled.od_multimedija.image_path" 
                   alt="Right Eye Fundus">
              <div *ngIf="!izabraniPregled.od_multimedija || !izabraniPregled.od_multimedija.image_path" class="no-image-placeholder">
                <mat-icon>image_not_supported</mat-icon>
                <p>No record.</p>
              </div>
              <img *ngIf="prikaziMasku && getMaskPath(izabraniPregled.od_multimedija).length!=0" 
                   [src]="getMaskPath(izabraniPregled.od_multimedija)" 
                   alt="UNet Maska OD" 
                   class="image-overlay-mask" />
            </div>
            <div class="params-box">
              <p>Diagnosis: <strong>{{ izabraniPregled.od_diagnosis || 'N/A' }} </strong></p>
              <p>IOP: <strong>{{ izabraniPregled.od_iop || 'N/A' }}</strong></p>
            </div>
            
          </div>

        </div>

        <div class="full-width-report">
          <h3>Doctors Opinion</h3>
          <div class="report-card">
            <p class="report-text">
              {{ izabraniPregled.comment || izabraniPregled.physician_comment || 'No record.' }}
            </p>
          </div>
          <h3>Therapy</h3>
          <div class="report-card">
            <p class="report-text">
              {{ izabraniPregled.therapy}}
            </p>
          </div>
          
        </div>

      </mat-card>
    </div>

    <div class="details-panel" *ngIf="!izabraniPregled && pregledi.length > 0">
      <mat-card class="display-card empty-state-card">
        <mat-icon color="primary">info</mat-icon>
        <p>Izaberite pregled iz istorije sa leve strane kako biste videli kompletan klinički izveštaj.</p>
      </mat-card>
    </div>

  </div>
</div>